.jumbotron {
  text-align: center;
  background-image: url('../../assets/images/banner.jpg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  margin-top: 2rem;
  color: white;
}
.project-launcher {
  text-align: center;
  align-items: center;
}
.slogan {
  font-size: 25px;
  color: #005EB9;
}
.project-launcher a {
  background-color: white;
  border:solid 1.5px #ABB8C9;
  color: #28A745;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 6px;
}
.project-launcher a:hover {
  background-color: #28A745;
  color: white;
}
ul {
  list-style: none;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  color: #2a9d8f;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
h1 {
  text-align: center;
  color: #28A745;
}
h2 {
  color: #2a9d8f;
}
h3 {
  color: #005EB9;
}
h4 {
  color: #3FB7E7;
}
h5 {
  color: #005EB9;
}
.bg-light {
  background-color: #769bca !important;
}
ul li a, .navbar-brand {
  color: white !important;
  font-weight: 900;
}
ul li a:hover, .navbar-brand:hover {
  color: white !important;
  background-color: #005EB9;
}
footer {
  background-color: #ABB8C9;
  margin-top: 2rem;
}